@charset "utf-8";
@import "reset";
@import "container";

%block {
  display: block;
}

st-div {
  @extend %block;
}


st-wait {
  text-align: center;
  display: block;
  color: #fff;
}

st-move {
  display: block;
  /*width: 100%;*/
  height: 50px;
  cursor: move;
}

st-retry {
  color: blue;
  cursor: pointer;
}

st-phonetic-text {
  margin-left: 10px;
}

st-icon-setting, st-icon-list, st-enable, st-disable, st-icon-copy, st-icon-play, st-icon-pin {
  background: url(chrome-extension://__MSG_@@extension_id__/Content/icon.png) no-repeat;
}

st-icon-pin {
  cursor: pointer;
  transform: rotate(45deg);
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  background-position: -10px -87px;
  width: 21px;
  height: 21px;
  transition: all .2s;
}

/* :hover 比 css类优先级高，需要覆盖*/
st-icon-pin.st-pined {
  transform: rotate(0deg);
}

/*st-icon-pin.st-pined:hover {
    transform: rotate(13deg);
}*/

/*st-icon-pin:hover, st-icon-pin.st-pined:hover {*/
/*transform: rotate(13deg);*/
/*}*/

st-icon {
  display: inline-block;
  width: 40px;
  height: 50px;
  float: right;
  transition: all .2s;
  cursor: pointer;
}

st-icon:hover {
  background-color: #fff;
}

st-icon-setting, st-icon-list {
  display: block;
  transition: all .2s;
}

st-icon-setting {
  width: 22px;
  height: 22px;
  background-position: -50px -10px;
  margin: 14px auto; /* ( 50 - 22 ) / 2 */
}

st-icon:hover st-icon-setting {
  background-position: -50px -50px;
}

st-icon-list {
  width: 18px;
  height: 18px;
  background-position: -10px -10px;
  margin: 16px auto; /* ( 50 - 18 ) / 2 */
}

st-icon:hover st-icon-list {
  background-position: -10px -50px;
}

st-content {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  overflow-y: auto;
  background-color: #fff;
  max-height: 280px;
}

st-section {
  display: block;
  line-height: 20px;
  position: relative;
  padding: 15px 10px;
  min-height: 30px;
  /*border: 1px solid transparent;*/
  transition: all .2s;
}

st-section:hover {
  /*border-color: tomato;*/
  background-color: #f9f9f9;
}

st-icon-copy, st-icon-play {
  width: 35px;
  /*height: 20px;*/
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /*transition: all .2s;*/
  padding-left: 15px;
  height: 20px;
  line-height: 20px;
  color: #12813e;
}

st-icon-copy {
  overflow: hidden;
}

st-section:hover st-icon-copy, st-section:hover st-icon-play {
  opacity: 1;
}

st-icon-play {
  /*width: 14px;*/
  /*height: 14px;*/
  line-height: 20px;
  background-position: -90px -7px;
  position: static;
  opacity: 1;
  margin-left: 10px;
}

st-icon-play::after, st-icon-copy::after {
  font-size: 14px;
}

st-icon-play::after {
  content: "朗读";
}

st-icon-copy::after {
  content: "复制";
}

st-icon-copy.st-copy {
  width: 45px;
}

st-icon-copy.st-copy::after {
  content: "已复制";
}

st-icon-copy {
  /*width: 12px;*/
  /*height: 16px;*/
  background-position: -90px -48px;
  right: 0;
  bottom: 2px; /* ( 20 - 16 ) / 2 */
  transition: all .2s;
}

st-footer {
  padding: 0 11px;
  display: block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
}

st-switch {
  float: left;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all .2s;
}

st-switch.st-close {
  transform: translateY(-30px);
}

st-enable, st-disable {
  padding-left: 20px;
  display: block;
  float: left;
}

st-enable {
  background-position: -143px -42px;
}

st-disable {
  background-position: -142px -2px;
}

st-a {
  cursor: pointer;
  float: right;
  transition: all .2s;
}

st-a:hover {
  color: #9a6a16;
}

st-list {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 99999;
  left: 250px;
  top: -1px;
  width: 0;
  overflow: hidden;
  transition: all .4s;
  background-color: #fff;
  color: #12813e;
  text-align: center;
  border: 1px solid #32cd74;
  box-shadow: 2px 2px 6px #89cda6;
  padding: 2px 0;
  cursor: default;
}

st-icon.st-list {
  border-bottom: 1px solid #32cd74;
  box-sizing: border-box;
}

st-icon.st-list:hover st-list {
  opacity: 1;
  width: 140px;
}

st-list-item {
  margin: 1px 0;
  display: block;
  font-size: 15px;
  white-space: nowrap;
  /*height: 22px;*/
  /*line-height: 22px;*/
  padding: 7px 0;
  cursor: pointer;
  transition: all .2s;
}

st-list-item:hover {
  /*transition: all .2s;*/
  color: #18b255;
  background-color: #f9f9f9;;
  /*color: #fff;*/
  /*background-color: #32cd74;*/
}

st-translate {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background-color: #32cd74;;
  position: fixed;
  right: 0;
  font-size: 18px;
  color: #fff;
  z-index: 99999;
  display: none;
}
